<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link style="text/css" rel="stylesheet" href="right.css"/>
</head>
<body>
<div class="related">
    <h3>Navigation</h3>
    <ul>
        <li class="right" >
            <a>index</a></li>
        <li class="right">
            <a>next</a> |</li>
        <li class="right">
            <a>previous</a> |</li>
        <li class="right"><img src="download.png" ></li>
        <li class="right"><a>Python</a>&#187;</li>
        <a>Python Developer's Guide</a>&#187;
        <li class="right">
            <div class="inline-search">
                <form class="inline-search">
                    <input placeholder="Quick search">
                    <input type="submit" value="Go">
                </form>
            </div>
        </li>
    </ul>
</div>
</body>
</html>